*{
	markin:  0;
	padding:  0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background: #ffffff;
	color: #000000;
}
#header{
	width: 100%;
	height:  100vh;
	background-image: url("homebg.png");
	background-size: cover;
	background-position: center;
}

.container{
	padding:  10px 10%;
	position: sticky; top: 0;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position: sticky; top: 0;
}
.logo{
	width: 140px;
	display: flex;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}
nav ul li a{
	color: #000000;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	background: #9933FF;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
}
.header-text{
	margin-top: 10%;
	font-size: 30px;
}
.header-text h1{
	font-size: 60px;
	margin-top: 20px;
}
.header-text h1 span{
	color: #5C00FC;
}
/*--about--*/
#about{
	padding: 80px 0;
	color: #000000;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-col-1{
	flex-basis: 35%;
}
.about-col-1 img{
	width: 100%;
	border-radius: 15px;
}
.about-col-2{
	flex-basis: 60%;
}
.subtitle{
	font-size: 60px;
	font-weight: 600;
	color: #000000;
}
.about-col-2 h1 span{
	color: #FC5000;
}
#projects {
	padding: 40px 0;
	color: #000000;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.about-col-1-2 img{
	width: 80%;
	height: 80%;
	border-radius: 20px;
}
hr {
	background-color: #FC5000;
	height: 4px;
}
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #ffffff;
}
.contact-section-header > h2 {
  font-size: 50px;
 }
 .contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 15px;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #ffffff;
  border-top: 4px solid #FC5000;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}
